<%- include('../components/_header.ejs') %>
<div class="container mt-4">
<h1>information complete</h1>
<div class="alert alert-primary" role="alert">
    <strong>登録完了しました!</strong> 
</div>
</div>
<%- include('../components/_footer.ejs') %>