<%- include('../components/_header.ejs') %>
<div class="container mt-4">
    <h1><%= metaData.h1 %> </h1>
    <div class="alert alert-primary" role="alert">
        <strong>登録完了しました!</strong> 
    </div>
    <a href="/information/">
        <button class="btn btn-outline-secondary">お知らせ一覧に進む</button>
    </a>
</div>
<%- include('../components/_footer.ejs') %>